<% if resource.errors.any? %>
  <div class="auth-error-summary" role="alert">
    <p><%= resource.errors.count %> alanı kontrol et.</p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
