<li>
  <%= link_to "Önceki", url, class: "inline-flex h-9 items-center rounded-full border border-stone-200 bg-white px-3 text-sm font-black text-stone-700 hover:bg-stone-50 focus-ring", remote: remote %>
</li>
